h1 {
   color: rgb(47, 135, 212); 
}
h2 {
   color: rgb(44, 89, 129); 
}
h3 {
   color: rgb(134, 175, 211); 
}
h4 {
   color: rgb(121, 138, 153); 
}
h5 {
   color: rgb(17, 61, 99); 
}
h6 {
   color: rgb(23, 82, 134); 
}
h7 {
   color: rgb(32, 137, 230); 
}